<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css">
    <title>Забронированный инвентарь</title>
</head>

<body>
<h1>Забронированный инвентарь</h1>
<header>
    <nav>
        <ul>
            <li><a href="/inventory">Инвентарь</a></li>
            <li><a href="/rental">Арендованный инвентарь</a></li>
        </ul>
        <div th:if="${#authentication.isAuthenticated()}">
            <span th:text="${#authentication.principal.username}"></span>
            <span th:text="'(' + ${#authentication.principal.authorities[0].authority.replace('ROLE_', '')} + ')'"></span>
            <form action="/logout" method="post" style="display: inline;">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                <button type="submit" class="logout-btn">Выйти</button>
            </form>
        </div>

    </nav>
</header>


<form id="rentalForm" method="post" th:action="@{/rental/process}">
    <table border="1">
        <thead>
        <tr>
            <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <th>Выбрать</th>
                <th>ID</th>
            </div>
            <th>Имя пользователя</th>
            <th>Инвентарь</th>
            <th>Дата бронирования</th>
            <th>Дата возврата</th>
            <th>Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="rental : ${rentals}">
            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
                <input type="checkbox" name="selectedRentals" th:value="${rental.id}">
            </td>
            <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}" th:text="${rental.id}"></td>
            <td th:text="${rental.getUser().getUsername()}"></td>
            <td th:text="${rental.inventory.getName()}"></td>
            <td th:text="${rental.rentalDate}"></td>
            <td th:text="${rental.returnDate}"></td>
            <td th:text="${rental.status}"></td>
        </tr>
        </tbody>
    </table>
    <div th:if="${error}" class="error-message" th:text="${error}"></div>
    <div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
        <button type="submit">Выдать</button>
    </div>
</form>
<form id="rentalsForm" method="post" th:action="@{/rental/report}">
    <div>
        <label for="rentalDate">Дата бронирования:</label>
        <input type="date" id="rentalDate" name="rentalDate" required>
    </div>
    <div>
        <label for="returnDate">Дата возврата:</label>
        <input type="date" id="returnDate" name="returnDate" required>
    </div>
    <button type="submit">Сформировать отчет</button>
</form>

<form id="sortRentalForm" method="post" th:action="@{/rental/sortDate}">
    <button type="submit">Отсортировать 2</button>
</form>
</body>
</html>